[submodule "vlibs2"]
	path = vlibs2
	url = ssh://git@bb.niias:7999/~elapidae/vlibs2.git
[submodule "zcm_types"]
	path = zcm_types
	url = ssh://git@bb.niias:7999/ado/zcm_types.git
[submodule "niias_srv_supply"]
	path = niias_srv_supply
	url = ssh://git@bb.niias:7999/tool/niias_srv_supply.git
